**Python Crash Course Exercise**

**Exercise 1 print formatting**
- you have the following variables
- age=25
- name ='Samuel'
- major = 'CIS Networking'

**Let us see how use print formatting**
- Write line of code to print the following. Use .format syntax
- Samuel is 25 years old. His major is CIS Networking.

In [4]:
#assign values to the different variables as mentioned in the exercise above

age = 25
name = 'Samuel'
major = 'CIS Networking'

print ("This is John Callahan")

This is John Callahan

In [5]:
#use the print formating to produce the required output

print('{} is {} years old. His major is {}.'.format(name,age,major))

print ("This is John Callahan")

Samuel is 25 years old. His major is CIS Networking.
This is John Callahan

**Exercise 2 Mathematical calculation and using decimal point formating**
- You have three variables itemUnitCost, itemQuantity totalCost
  - itemUnitCost= $35.99
  - itemQuantity=3
 
- Calculate the total cost
- Use the print format to produce an output

In [6]:
#assign values to the variables mentioned in the example above
 
itemUnitCost = 35.99 
itemQuantity = 3

#calculate the total cost
totalcost = itemUnitCost * itemQuantity

#print the itemUnitCost, itemQuantity, total cost using d and .2f format
print('Item unit cost ${0:0.2f}, number of items = {1:2d}, total cost = ${2:0.2f}'.format(itemUnitCost,itemQuantity,totalcost))

#the output should look as follow
# Item unit cost $35.99, number ot items=  3, total cost=$107.97

print ("This is John Callahan")

Item unit cost $35.99, number of items =  3, total cost = $107.97
This is John Callahan

**Lists in Python**

**Exercise 3:**

In [9]:
# you have alist 

list1 = ['30','40','70']

#how to add 80 to the end of the list

list1.append('80')

#display the list

print (list1)

print ("This is John Callahan")

['30', '40', '70', '80']
This is John Callahan

**Exercise 4:**

In [12]:
#Retrieve elements of our_list starting at index 2 up to the end.

list1[2:]

#print ("This is John Callahan")

['70', '80']

In [13]:
#Modify the element with index 1 in list1 to the value 'CISP41'

list1[1] = 'CISP41'

#display the list

print (list1)

print ("This is John Callahan")

['30', 'CISP41', '70', '80']
This is John Callahan

**Exercise 5**

In [14]:
#you have a list 

certificate_courses = ['CISP41', 'CISP42', 'CISP43']

#find the number of elements or items in certificate_courses

print('The number of elements/items in certificate_courses:',len(certificate_courses))

print ("This is John Callahan")

The number of elements/items in certificate_courses: 3
This is John Callahan

**Exercise 6**

In [15]:
#create two lists in one statement students, gpa
#students has string elements and gpa has numeric element

students, gpa = ['Sofia','Mark','Jon'],[2.3,4.2,3.4]

#print the smallest value element of students

print('Smallest value element of students:',min(students))

#print the smallest value element of gpas

print('Smallest value element of gpas: ',min(gpa))

print ("This is John Callahan")

Smallest value element of students: Jon
Smallest value element of gpas:  2.3
This is John Callahan

**Exercise 7**
- You have a list of cities and states
- You want to know the number of occurrences of CA

In [16]:
#you have a list of cities and states named city_state_list

City_State_List = ['CA', 'Long Beach', 'CA', 'Chino Hills', 'CA', 'Redando Beach', 'Ferrum','VA', 'Little Falls', 'NY',];

#print the number of occurrences of the 'CA'

print('The number of occurrences of the "CA": ', City_State_List.count('CA'))

print ("This is John Callahan")

The number of occurrences of the "CA":  3
This is John Callahan

**Exercise 8**

In [17]:
#You have a two lists of citites city1 and city2 

city1=['Albany', 'Amsterdam', 'Auburn', 'Batavia', 'Beacon', 'Binghamton', 'Buffalo', 'Canandaigua']
city2=['Cohoes', 'Corning', 'Cortland', 'Dunkirk', 'Elmira', 'Fulton', 'Geneva']

#you want to add city2 to city1 at the end

city1.extend(city2)

#print the final list city after adding the other list to its end

print('Final city list: ',city1)

print ("This is John Callahan")

Final city list:  ['Albany', 'Amsterdam', 'Auburn', 'Batavia', 'Beacon', 'Binghamton', 'Buffalo', 'Canandaigua', 'Cohoes', 'Corning', 'Cortland', 'Dunkirk', 'Elmira', 'Fulton', 'Geneva']
This is John Callahan

**Exercise 9**

**insert method**
- list.insert(index, obj): *Inserts object obj into list at offset index*
- Parameters
 - index − This is the Index where the object obj need to be inserted.
 - obj − This is the Object to be inserted into the given list.

In [18]:
# you have a list of cities named city1

city1=['Albany', 'Amsterdam', 'Auburn', 'Batavia', 'Beacon', 'Binghamton', 'Buffalo', 'Canandaigua']

#you need to insert the city 'Elmira' before 'Batavia'

city1.insert (3, 'Elmira')

#print city1 after the insertion

print ('List after insert : ', city1)

print ("This is John Callahan")

List after insert :  ['Albany', 'Amsterdam', 'Auburn', 'Elmira', 'Batavia', 'Beacon', 'Binghamton', 'Buffalo', 'Canandaigua']
This is John Callahan

**Exercise 10**

In [19]:
#you have a list city1

city1= ['Albany', 'Amsterdam', 'Auburn', 'Batavia', 'Beacon', 'Binghamton', 'Buffalo', 'Canandaigua']

# you want to remove and return last object or obj from the list

city1.pop()

#print the list city1 after this process

print (city1)

print ("This is John Callahan")

['Albany', 'Amsterdam', 'Auburn', 'Batavia', 'Beacon', 'Binghamton', 'Buffalo']
This is John Callahan

**Exercise 11**

In [20]:
#you have a list city1

city1= ['Albany', 'Amsterdam', 'Auburn', 'Batavia', 'Beacon', 'Binghamton', 'Buffalo', 'Canandaigua']

# you want to remove the city 'Batavia'

city1.remove ('Batavia')

#print the list city1 after this process

print (city1)

print ("This is John Callahan")

['Albany', 'Amsterdam', 'Auburn', 'Beacon', 'Binghamton', 'Buffalo', 'Canandaigua']
This is John Callahan

**Exercise 12**

In [21]:
#You have a list of students

students=['Sam','Zac', 'Henry','Mark','Gigi', 'Kevin', 'Adams']

# you want to sort the elements in students in alphabetic ascending order

students.sort()

#print the sorted list

print (students)

print ("This is John Callahan")

['Adams', 'Gigi', 'Henry', 'Kevin', 'Mark', 'Sam', 'Zac']
This is John Callahan

**Exercise 13 Tuples**

In [22]:
#create a tuple name it semesters that includes the our college semesters Fall,Winter,Spring,Summer

semesters_tuple = ('Fall', 'Winter', 'Spring', 'Summer')

#print the tuple

print (semesters_tuple)

print ("This is John Callahan")

('Fall', 'Winter', 'Spring', 'Summer')
This is John Callahan

In [23]:
#retrieve the elements Winter and Spring from the semesters tuple using indeces separated by colon in one statement print them

print (semesters_tuple[1:3])

print ("This is John Callahan")

('Winter', 'Spring')
This is John Callahan

**Exercise 14 Dictionary**

In [24]:
#create a employee dictionary-- key value pairs firstName-Sam, lastName-Jack, department-Accounting, age-22, annualSalary-60000

employeedict = {'firstName' : 'Sam', 'LastName' : 'Jack', 'department' : 'Accounting', 'age' : 22, 'annualSalary' : 60000}

#print the dictionary

print (employeedict)

print ("This is John Callahan")

{'firstName': 'Sam', 'LastName': 'Jack', 'department': 'Accounting', 'age': 22, 'annualSalary': 60000}
This is John Callahan

**Exercise 15**

In [25]:
#change the age to 30 in the employee dictionary of previous exercise

employeedict['age']=30

#print the updated dictionary

print (employeedict)

print ("This is John Callahan")

{'firstName': 'Sam', 'LastName': 'Jack', 'department': 'Accounting', 'age': 30, 'annualSalary': 60000}
This is John Callahan

**Exercise 16**

In [26]:

#retrieve all the keys of the employee dictionary mentioned above

employeedict.keys()

#retrieve all the values of the employee dictionary mentioned above

employeedict.values()

print ("This is John Callahan")

This is John Callahan

In [27]:
#delete the dictionary item annualSalary of the employee dictionary mentioned above - remove entry with key annualSalary

del employeedict['annualSalary']

#print the dictionary after the deletion

print (employeedict)

print ("This is John Callahan")

{'firstName': 'Sam', 'LastName': 'Jack', 'department': 'Accounting', 'age': 30}
This is John Callahan

**Exercise 17**

In [28]:
#write if else satement to perform the following
#if score < 60 print hard luck see you next semester
#otherwise congrat you passed
#add a statement score=xx and test your code

score=75
if score < 60:
    print ('Hard luck see you next semester')
else:
    print ('Congrats you passed')
    
print ("This is John Callahan")

Congrats you passed
This is John Callahan

**Exercise 18 for loop**

In [29]:
#use a for loop to print the element in the following list each on a separate line

students=['Sam', 'Zak', 'Henry', 'Mark', 'Gigi', 'Brian', 'Emily',
       'Jose']

#code

for student in students:
    print (student)

print ("This is John Callahan")

Sam
Zak
Henry
Mark
Gigi
Brian
Emily
Jose
This is John Callahan

**Exercise 19 Strings**

In [30]:
#you have a string named greeting = "Hello welcome to CISD41 It is an interesting course"

greeting = "Hello welcome to CISD41 It is an interesting course"

#change all letters in greeting to upper case and print it

print (greeting.upper())

print ("This is John Callahan")

HELLO WELCOME TO CISD41 IT IS AN INTERESTING COURSE
This is John Callahan

In [31]:
#Split the words in greeting to a list

greeting1 = greeting.split()

print (greeting1)

print ("This is John Callahan")

['Hello', 'welcome', 'to', 'CISD41', 'It', 'is', 'an', 'interesting', 'course']
This is John Callahan

**Exercise 20 Functions**
- You are driving a little too fast, and a police officer stops you.
- Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket".
- If your speed is 60 or less, the result is "No Ticket".
- If speed is between 61 and 80 inclusive, the result is "Small Ticket".
- If speed is 81 or more, the result is "Big Ticket".
- Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.

In [32]:
#define the function call the function caught_speeding the pramater are named spee and is_birthday

def caught_speeding(speed, is_birthday):
    if is_birthday==True:
        speed=speed-5
    if speed<=60:
        print ('No ticket')
    elif speed<=80:
        print ('Small ticket')    
    else:
        print ('Big ticket')
    



print ("This is John Callahan")

This is John Callahan

In [34]:
#call the function with speed =81 and is_birthday is true

caught_speeding(81,True)

print ("This is John Callahan")

Small ticket
This is John Callahan

In [35]:
#call the function with speed=81 and is_birthday is false

caught_speeding(81,False)

print ("This is John Callahan")

Big ticket
This is John Callahan